$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  padding-bottom: 20px;
  background-color: #a83533;
  background-image: url("../images/bg.png");
  color: white;
}


/* Custom page header */
.header {
  text-align: center;
  margin-top: -20px;
  img {
    border: none;
    display: block;
    margin:0 auto;
  }
}

#language {
  z-index:100;
  width: 50px;
  height: 48px;
  position:absolute;
  top: -24px;
  right: 6%;
  background-color: #fff;
  -moz-border-radius-bottomright: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  -moz-border-radius-bottomleft: 30% 50%;
  border-bottom-left-radius: 30% 50%;
  span {
    padding: 4px 0;
    display: block;
  }
}

.moveLang {
  -ms-transform: translate(0,24px); /* IE 9 */
  -webkit-transform: translate(0,24px); /* Chrome, Safari, Opera */
  transform: translate(0,24px);
}

#banner {
  margin-bottom: 20px;
  img {
    display: block;
    margin: 0 auto;
  }
}


#thumbs {
  margin: 70px 0 100px 0;
  overflow: hidden;
  display: block;
  height: 100%;
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 700px;
    display: block;
    margin: 0 auto;
    li {
      display: inline;
      float: left;
      width: 210px;
      a{
      }
      img {
      }
    }
    .gutter {
      width: 30px;
    }
    .gutter-wide {
      width: 40px;
    }
  }
}


#tagline {
  text-align: center;
  margin-bottom: 60px;
  h3 {
    color: white;
    font-weight: 100;
    letter-spacing:1px;
    margin-bottom: 25px;
  }
}

.btn-cta {
  background-color: #433c2d; // #4e8250;
  border: none;
  padding: 15px 20px;
  font-weight: 200;
  color: white;
  &:hover {
    background-color: #4e8250;
  }
}

.info-row {
  display: block;
  margin: 0 auto;
  max-width: 1170px;
}

.info-pic {
  margin-bottom: 30px;
  img {
    display: block;
    margin:0 auto;
  }
}

.info {
  text-align: center;
  margin-bottom: 40px;
  img {
    margin:0 0 -30px -30px;
  }
  h4 {
    font-family: Georgia;
    font-weight: 100;
    font-size: 24px;
  }
  p {
    text-align: justify;
    font-size: 12px;
  }
}


#devices {
  #devices-image {
    display: block;
    margin:0 auto;
  }
  .info {
    margin-top: -60px;
    p {
      font-size: 24px;
      color: white;
      font-weight: 100;
      text-align: center;
    }
  }
}


#sales {
  margin-bottom: -20px;
  img {
    margin-left: -25px;
  }
  .contactBtn {
    text-align: center;
    padding-bottom: 60px;
  }
}


.row {
  margin-bottom: 50px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  p {
    text-align: center;
    font-weight: normal;
  }
}


.container-fluid {
  padding:0;
  max-width: 1170px;
  display: block;
  margin: 0 auto;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

/* Responsive: Portrait tablets and up */
@media screen {
}

@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 767px) {
  #thumbs {
    display: none;
  }
}
@media (max-width: 480px) {
}
@media (max-width: 979px) {
}
@media (min-width: 980px) {
}